ul.social-network{
    list-style: none;
    padding: 0;
}
ul.social-network li{
    display: inline;
    margin: 0px;
    padding: 5px;
    
}
.fa{
    font-size: 35pt;
    color: white;
    padding: 10px;
}
.fa-github-alt:hover{
    color: black;
}
.fa-linkedin-square:hover{
    color: rgb(112, 112, 236);
}