<nav class="navbar navbar-expand-lg navbar-light bg-secondary">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto d-flex align-items-center">
          <li class="nav-item">
            <img src="https://scontent.fqcj3-1.fna.fbcdn.net/v/t1.18169-9/1545961_1449659401922717_2061423808_n.jpg?_nc_cat=100&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=5O-YJG5MY0cAX8gA9tx&_nc_ht=scontent.fqcj3-1.fna&oh=7f06722cda10d8aa3628b5d8dfddf959&oe=61717BCC" alt="Imagem do user" width="50px" height="50px" class="img-fluid rounded-circle"> 
          </li>
          <li class="nav-item ml-3">
            <p class="m-2 font-weight-bold text-white fs-16">Nome do usuário</p>
          </li>
          <li class="nav-item ml-3">
              <a href="#">
                <p class="text-white fs-16 m-0">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                  </p>
              </a>
          </li>
        </ul>
      </div>
      <ul class="navbar-nav ml-auto d-flex align-items-start">
        <li class="nav-item pl-3">
            <a class=" m-0 font-weight-bold text-white fs-16">Sair <i class="fa fa-sign-out" aria-hidden="true"></i></a>
          </li>
        </ul>
    </div>
  </nav>